<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pns.ajio">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ajio"
        tools:ignore="AllowBackup">
        <activity android:name="com.pns.ajio.activity.PaymentActivity" />
        <activity android:name="com.pns.ajio.activity.ProductActivity" />
        <activity
            android:name="com.pns.ajio.activity.HomeActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.pns.ajio.activity.NavigationActivity" />
        <activity android:name="com.pns.ajio.activity.LoginActivity" />
        <activity android:name="com.pns.ajio.activity.NotificationActivity" />
        <activity android:name="com.pns.ajio.activity.BagActivity" />
        <activity android:name="com.pns.ajio.activity.WishlistActivity" />
        <activity android:name="com.pns.ajio.activity.AccountActivity" />
        <activity android:name="com.pns.ajio.activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>